body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.newsletter-container {
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03), 
              0px 8px 12px 0px rgba(0, 0, 0, 0.08);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.newsletter-container img {
  width: 60px;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

p {
  color: #555;
  margin-bottom: 20px;
  font-size: 1rem;
}

.input-group {
  display: flex;
  margin-bottom: 15px;
}

.input-group input {
  flex: 1;
  padding: 12px;
  border: 1px solid #f50707;
  border-radius: 8px 0 0 8px;
  outline: none;
  font-size: 1rem;
}

.input-group button {
  background-color: #0432e7;
  color: rgb(160, 234, 1);
  border: none;
  padding: 12px 20px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.input-group button:hover {
  background-color: #45a049;
}

/*  Celular */
@media (max-width: 600px) {
  .newsletter-container {
    max-width: 90%;
    padding: 20px;
  }

  .input-group {
    flex-direction: column;
  }

  .input-group input {
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .input-group button {
    border-radius: 8px;
    width: 100%;
  }

  h1 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }
}

/*  Tablet */
@media (min-width: 601px) and (max-width: 900px) {
  .newsletter-container {
    max-width: 70%;
    padding: 30px;
  }

  h1 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1rem;
  }
}

/* Computadora */
@media (min-width: 901px) {
  .newsletter-container {
    max-width: 400px;
  }
}
